<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstageManagement.mapper.LogMapper">

    <select id="findAll" resultType="com.backstageManagement.pojo.OperateLog">
        select o.id,
               o.operate_emp_id,
               o.operate_time,
               o.class_name,
               o.method_name,
               o.method_params,
               o.return_value,
               o.cost_time,
               e.name as operate_emp_name
        from operate_log as o
                 left join emp as e on o.operate_emp_id = e.id
        order by o.operate_time desc
        limit #{start},#{pageSize}
    </select>
    <select id="countTotal" resultType="java.lang.Long">
        select count(*)
        from operate_log
    </select>
</mapper>